Makefile.in
Makefile
*.o
*.lo
*.la
*.c
*.h
*.stamp
*.gir
.deps
.libs
config.*
aclocal.m4
autom4te.cache
ChangeLog
configure
depcomp
libtool
install-sh
m4
missing
ltmain.sh
ylwrap
compile
stamp-h1
*.pc
gee/gee-1.0.vapi
tests/testarraylist
tests/testhashmap
tests/testhashset
tests/testlinkedlist
tests/testtreemap
tests/testtreeset
